<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yjx.androidword">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--外部读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Activity.FirstActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.AddWordsActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Activity.ChooseE2CActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Activity.ChooseC2EActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Activity.FillE2CActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Activity.FillC2EActivity"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Activity.DictionaryActivity"
            tools:ignore="InnerclassSeparator" />

        <activity android:name=".Activity.TranslationActivity"
            tools:ignore="InnerclassSeparator" />


    </application>

</manifest>